.ImageCard {
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    width: 290px;
    border-radius: 2px;
    word-wrap: break-word;
}

.ImageCard div {
    text-align: left;
}

.ImageCard img {
    width: 280px;
    height: 290px;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
}

.ImageCard h3 {
    text-align: left;
    margin-left: 8px;
}

.ImageCard p {
    text-align: left;
    margin-left: 8px;
}

.author {
    font-weight: 600;
    font-size: 18px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.delete {
    font-weight: 600;
    font-size: 18px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}